.header {
    width: 1263px;
    height: 27px;
    background-color: #f2f2f2;
    font-size: 12px;
    margin: 0;

    >.header-site {
        width: 990px;
        height: 26px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;

        >.left {
            margin: 0 20px 0 0;

            >.icon-jiating {
                color: red;
            }
        }

        >.right {
            margin: 0 20px 0 0;

        }

        >.menu {
            list-style: none;
            height: 26px;
            line-height: 26px;

            .seperator {
                width: 0;
                height: 14px;
                position: relative;
                top: 6px;
                left: 0;
                line-height: 14px;
                border-left: 1px solid #ccc;
                margin: 0 2px 0 5px;
            }

            .support {
                .menu-top {
                    position: relative;
                    padding: 0 19px 0 12px;

                    b {
                        position: absolute;
                        right: 10px;
                        top: 6px;
                        width: 0;
                        height: 0;
                        border-width: 3px;
                        border-style: solid dashed dashed;
                        border-color: #bbb transparent transparent;
                        font-size: 0;
                        line-height: 0;
                    }
                }

                .menu-bottom {
                    position: absolute;
                    z-index: 10;
                    display: none;
                    right: 165px;

                    .top {
                        padding: 6px 6px;
                        border-bottom: 1px dashed gray;

                        span {
                            display: block;
                            font-style: bold;
                        }

                        a {
                            padding-left: 5px;
                        }

                    }

                    .bottom {
                        padding: 6px 6px;
                        border-bottom: 1px dashed gray;
                        margin-bottom: 10px;

                        span {
                            display: block;
                            font-style: bold;
                        }
                    }
                }
            }

            .support:hover {

                .taobaomenu,
                .menu-top {
                    background-color: #fff;
                }

                .menu-bottom {
                    display: block;
                    background-color: white;
                    padding: 0 18px;
                }

                b {
                    top: 3px;
                    border-style: dashed dashed solid dashed;
                    border-color: transparent transparent #bbb transparent;
                }
            }

            .taobaostar {
                .menu-top {
                    position: relative;
                    padding: 0 19px 0 12px;

                    b {
                        position: absolute;
                        right: 10px;
                        top: 6px;
                        width: 0;
                        height: 0;
                        border-width: 3px;
                        border-style: solid dashed dashed;
                        border-color: #bbb transparent transparent;
                        font-size: 0;
                        line-height: 0;
                    }
                }

                .menu-bottom {
                    position: absolute;
                    display: none;
                    padding: 0 18px;

                    a {
                        display: block;
                    }
                }
            }

            .mytaobao {
                margin: 0 0 0 150px;

                .menu-top {
                    position: relative;
                    padding: 0 19px 0 12px;

                    b {
                        position: absolute;
                        right: 10px;
                        top: 6px;
                        width: 0;
                        height: 0;
                        border-width: 3px;
                        border-style: solid dashed dashed;
                        border-color: #bbb transparent transparent;
                        font-size: 0;
                        line-height: 0;
                    }
                }

                .menu-bottom {
                    position: absolute;
                    display: none;
                    padding: 0 18px;

                    a {
                        display: block;
                    }
                }
            }

            .mytaobao:hover {
                .taobaomenu {
                    background-color: #fff;
                }

                .menu-bottom {
                    display: block;
                    background-color: white;
                }

                b {
                    top: 3px;
                    border-style: dashed dashed solid dashed;
                    border-color: transparent transparent #bbb transparent;
                }
            }

            .taobaostar:hover {
                .taobaomenu {
                    background-color: #fff;
                }

                .menu-bottom {
                    display: block;
                    background-color: white;
                }

                b {
                    top: 3px;
                    border-style: dashed dashed solid dashed;
                    border-color: transparent transparent #bbb transparent;
                }
            }

            li {
                float: left;
                padding: 0 10px;

                a:hover {
                    text-decoration: underline;
                    color: red;
                }
            }
        }
    }

    a {
        text-decoration: none;
        color: #999;
        line-height: 26px;
    }

    a:hover {
        text-decoration: underline;
        color: red;
    }

    .icon-shouji {
        color: red;
    }

    .icon-gouwuche-tianchong {
        color: red;
    }
}
.header-second{
    width: 1190px;
    height: 90px;
    margin: 0 auto;
    .logo{
        width: 240px;
    height: auto;
    padding-top: 16px;
    float: left;
    z-index: 9;
    line-height: 32px;
    position: relative;
        a{
            height: 30px;
            font-size: 22px;
            width: 190px;
            overflow: hidden;
            height: auto!important;
            overflow: inherit!important;
            font-size: 0!important;
            padding: 0 0 0 40px;
            margin-top: 10px;
            display: block;
            img{
                width: 130px;
                height: 48px;
            }
        }
    }
    .place{
        float: left;
        position: relative;
        top: 25px;
        z-index: 11;
        background-color: #fff;
        margin-top: 36px;
        max-width: 464px;
        border-radius: 0 3px 3px;
        h3{
            color: #30b30e;
            position: relative;
            padding: 6px 12px;
            font-size: 16px;
            border: 1px solid #e5e5e5;
            line-height: 1.5;
            margin-top: -36px;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            cursor: pointer;
            word-wrap: break-word;
            overflow: hidden;
            max-width: 100px;
            margin-left: -1px;
            background-color: #fff;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .search{
        width: 540px;
        height: 36px;
        float: right;
        padding-top: 25px;
        overflow: hidden;
        background: #fff;
        position: relative;
        .search-1{          
            height: 30px;
            vertical-align: middle;
            border: solid #30b30e;
            border-width: 3px 0 3px 3px;
            input{
                color: #000;
                font-size: 12px;
                margin: 0;
                z-index: 2;
                width: 289px;
                height: 20px;
                line-height: 20px;
                padding: 5px 3px 5px 5px;
                outline: 0;
                border: none;
                font-weight: 900;
            }          
        }
        button{
            position: absolute;
            right: 0;
            top: 28px;
            width: 90px;
            border: 0;
            font-size: 16px;
            letter-spacing: 4px;
            cursor: pointer;
            color: #fff;
            background-color: #30b30e;
            height: 30px;
            overflow: hidden;
            font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
        }
    }
    .header-banner{
        padding-left: 9px!important;
        padding-top: 21px!important;
        width: 272px!important;
        height: auto!important;
        float: right;
        padding: 10px 0 0 100px;
        .market{
            text-align: right;
            margin-right: 5px;
            list-style: none;
            li{
                // display: inline-block;
                margin: 0 4px;
                font-size: 12px;
                vertical-align: middle;
                padding-top: 10px;
                float: left;
                a{
                    color: #666;
                    font-weight: bolder;
                    text-decoration: none;
                    i{
                        font-weight: 400;
                        text-align: right;
                        margin-top: 10px;
                        font-size: 16px;
                        color: #30b30e;
                        text-decoration: none;
                    }
                    img{
                        vertical-align: middle;
                        padding-top: -20px;  
                    }
                }
            }
        }
    }
}
.header-third{
    // position: relative;
    // top: 0px;
    position: sticky;
    z-index: 10;
    top: 0px;
    background-color: #fff;
    border-bottom: 1px solid #2f2f2f;
    .layout{
        position: relative;
        width: 1190px;
        height: 36px;
        margin: 0 auto;
        .erjimenu{
            background-color: #2f2f2f;
            line-height: 36px;
            height: 36px;
            width: 240px;
            float: left;
            text-align: center;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
        }
        >ul{
            display: block;
            margin-left: 240px;
            // overflow: hidden;
            list-style: none;
            .index{
                float: left;
                list-style: none;
                a{
                    font-size: 16px;
                    color: #333;
                    line-height: 36px;
                    margin-left: -1px;
                    padding: 0 25px;
                    text-decoration: none;
                    font-weight: 700;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .index::before{
                content: '\20';
                height: 12px;
                border-right: 1px solid #d9d9d9;
                width: 0;
                display: inline-block;
                vertical-align: middle;
            }
            .qycg{
                float: left;
                list-style: none;
                a{
                    font-size: 16px;
                    color: #333;
                    line-height: 36px;
                    margin-left: -1px;
                    padding: 0 25px;
                    text-decoration: none;
                    font-weight: 700;
    
                }
            }
            .shoplist{
                float: right;
                position: relative;
                top: -3px;
                width: 200px;
                height: 31px;
                // padding-left: 40px;
                margin: 3px 0;
                background: #bf0000;
                z-index: 1;
                -webkit-transition: width .2s ease-in .2s;
                transition: width .2s ease-in .2s;
                .handle{
                    height: 33px;
                    line-height: 33px;
                    color: #fff;
                    cursor: pointer;
                    padding: 0 18px;
                    // overflow: hidden;
                    position: relative;
                    .pricetotal{
                        color: #fcff00;
                        font-family: arial;
                        font-size: 12px;
                        strong{
                            font-size: 22px;
                            font-weight: bolder;
                            vertical-align: middle;
                            margin: 0 2px;
                        }
                    }
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-size: 12px;
                        strong{
                            font-style: normal;
                            font-weight: 400;
                        }
                    }
                    .arrow{
                        width: 0;
                        height: 0;
                        border: 5px solid transparent;
                        border-top-color: #fff;
                        background: 0 0;
                        right: 8px;
                        top: 15px;
                        // overflow: hidden;
                        -webkit-transition: all .2s ease-in;
                        transition: all .2s ease-in;
                        cursor: pointer;
                        position: absolute;
                    }
                    .yuan1{
                        width: 36px;
                        height: 36px;
                        background-color: #fff;
                        border-radius: 50%;
                        position: absolute;
                        justify-content: center; /*子元素水平居中*/
                        align-items: center; /*子元素垂直居中*/
                        display: flex;
                        top: -2px;
                        left: -28px;
                        // z-index: 10;
                        .yuan2{
                            position: absolute;
                            justify-content: center; /*子元素水平居中*/
                            align-items: center; /*子元素垂直居中*/
                            display: flex;
                            width: 28px;
                            height: 28px;
                            border-radius: 50%;
                            background-color: #000;
                            padding: auto auto;
                            // z-index: 10;
                        }
                    }
                    
                }
                .xjmenu{
                    // overflow: hidden;
                    width: 232px;
                    position: absolute;
                    display: none;
                    right: 0;
                    top: 35px;
                    z-index: 5;
                    border: 4px solid #e22b40;
                    border-top: 0;
                    color: #666;
                    background: #fff;
                    height: 0;
                    // border-width: 0 4px;
                    // -webkit-transition: all .2s ease-in;
                    transition: all .2s ease-in;
                    .xjheader{
                        background: #f4f4f4;
                        width: 232px;
                        height: 0px;
                        line-height: 30px;
                        div{
                            font-size: 12px;
                            text-align: center;
                            display: inline-block;
                            vertical-align: middle;
                        }
                        .tm-mcItem{
                            width: 46px;
                        }
                        .tm-mcAmount{
                            width: 68px;
                        }
                        .tm-mcPrice {
                            width: 60px;
                        }
                        .tm-mcOps {
                            width: 40px;
                        }

                    }
                    .xjcontent{
                        height: 214px;
                        overflow-y: auto;
                        overflow-x: hidden;
                        // zoom: 1;
                        position: relative;
                    }
                }
            }
            .shoplist:hover{
                width: 232px;
                .arrow{
                    width: 0;
                    height: 0;
                    border: 5px solid transparent;
                    border-bottom-color: #fff;
                    background: 0 0;
                    right: 8px;
                    top: 10px;
                }
                .xjmenu{
                    display: block;
                    height: 250px;
                    .xjheader{
                        height: 30px;
                    }
                }
            }
    
        }
        
    }
   
}
.main{
    width: 990px;
    height: 604px;
    margin-top: 27px;
    margin-left: 35px;
    .tb-gallery{
        float: left;
        width: 460px;
        position: relative;
        .wrap {
            width: 418px;
            height: 500px;
            margin: 0 auto;
            position: relative;
            #spic {
                width: 418px;
                height: 418px;
                margin-top: 20px;
                // padding-top: 20px;
                border: 1px solid rgb(167, 167, 167);
                float: left;
                position: relative;
                img {
                    width: 418px;
                    height: 418px;
                }
                #sf {
                    width: 50px;
                    height: 50px;
                    background: orange;
                    opacity: 0.3;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    visibility: hidden;
                    cursor: move;
                }
            }
            #bf {
                width: 418px;
                height: 418px;
                border: 1px solid #000;
                float: left;
                overflow: hidden;
                position: absolute;
                z-index: 6;
                left: 425px;
                top: 20px;
                visibility: hidden;
            }
            #ulist {
                position: absolute;
                left:15px;
                bottom: -10px;
                width: 402px;
                height: 62px;
                overflow: hidden;
                #list {
                    float: left;
                    margin-left: 18px;
                    width: 372px; 
                    position: relative;
                    ul {
                        list-style: none;
                        float: left;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        li {
                            float: left;
                            width: 60px;
                            height: 60px;
                            padding-right: 16px;
                            cursor: pointer;
                            img {
                                width: 60px;
                                height: 60px;
                                border: 1px solid #ccc;
                            }
                        }
                    }
                }
            }
            
        }
        p{
            padding: 38px 40px 25px;
            color: #999;
            font-size: 12px;
            .jb{
                float: right;
            }
            .addFavorite{
                text-decoration: none;
            }
        }
    }
    .tb-wrap{
        margin: 0 0 0 460px;
        color: #666;
        padding: 0 0 10px;
        .tb-detail-hd{
            padding: 20px 10px 12px;
            color: #000;
            h1{
                padding-bottom: 0.2em;
                line-height: 1;
                font-size: 16px;
                font-weight: 700;
                color: #000;
            }
            .newp{
                font-size: 14px;
                 color: #FF0036;
            }
        }
        .tm-fcs-panel{
            background-color: #e9e9e9;
            background-repeat: no-repeat;
            position: relative;
            left: 0;
            z-index: 5;
            font: 12px/1.5 "Microsoft Yahei",tahoma,arial;
            padding-bottom: 5px;
            padding-top: 5px;
            margin-right: 20px;
            background-image: url(../img/bgc1.png);
            .tm-price-panel{
                position: static;
                color: #333;
                padding-left: 0;
                .tb-metatit{
                    color: #999;
                    font-size: 12px;
                    text-align: left;
                    float: left;
                    width: 69px;
                    margin: 0 0 0 8px;
                    .tm-price{
                        text-decoration: line-through;
                        font-size: 14px;
                    }
                }
            }
            .tm-promo-panel{
                .tb-metatit{
                    color: #999;
                    font-size: 12px;
                    text-align: left;
                    float: left;
                    width: 69px;
                    margin: 0 0 0 8px;
                }
                .tm-promo-price{
                    line-height: 24px;
                    font-size: 12px;
                    position: relative;
                    .tm-yen{
                        vertical-align: middle;
                        color: #FF0036;
                        font-size: 18px;
                        font-family: Arial;
                        -webkit-font-smoothing: antialiased;
                    }
                    .tm-price{
                        vertical-align: middle;
                        font-size: 30px;
                        color: #FF0036;
                        font-weight: bolder;
                        font-family: Arial;
                        -webkit-font-smoothing: antialiased;
                    }
                    .tm-promo-type{
                        background-color: #f47a86;
                        border-radius: 1px;
                        color: #fff;
                        height: 16px;
                        line-height: 16px;
                        margin: 0 2px 4px 6px;
                        padding: 1px 5px;
                        position: relative;
                        s{
                            position: absolute;
                            width: 0;
                            display: block;
                            font-size: 0;
                            left: -4px;
                            bottom: 0;
                            height: 0;
                            border: 3px solid #f47a86;
                            border-color: transparent #f47a86 #f47a86 transparent;
                        }
                    }
                }
            }
        }
        .box1{
            margin: 5px 20px 5px 0;
            .yunf{
                font-size: 12px;
                line-height: 20px;
                  .label{
                    color: #999;
                    font-size: 12px;
                    text-align: left;
                    float: left;
                    width: 50px;
                    margin: 0 10px;
                  }
                  .icon-arrowdown{
                    font-size: 12px;
                  }
                  .hang1{
                      margin-left: 70px;
                  }
                  .signText{
                    margin-left: 70px;
                  }
            }
            .zhongl{
                line-height: 24px;
                color: #666;
                font-size: 12px;
                margin-left: 10px;
                .span{
                    color: #999;
                    font-size: 12px;
                    text-align: left;
                    float: left;
                    width: 50px;
                    
                }
                em{
                    font-weight: 700;
                    margin-left: 40px;
                    margin-right: 10px;
                }
            }
           
        }
        .tm-ind-panel{
            border: 1px dotted #c9c9c9;
            border-width: 1px 0;
            font-size: 12px;
            margin: -1px 20px 0 15px;
            padding: 10px 0;
            position: relative;
            // overflow: hidden;
            // clear: both;
            display: flex;
            list-style: none;
            .tm-ind-item{
                float: left;
                font-size: 12px;
                width: 33%;
                text-align: center;
                position: relative;
                left: -1px;
                border-left: 1px solid #e5dfda;
                flex: 1;
                line-height: 16px;
                .tm-label{
                    display: inline-block;
                    line-height: 16px;
                    height: 16px;
                    color: #999;
                    text-align: center;
                }
                .tm-count{
                    display: inline-block;
                    line-height: 16px;
                    height: 16px;
                    color: #FF0036;
                    font-weight: 700;
                    margin-left: 3px;
                    text-align: center;
                }
            }
            .tm-ind-emPointCount{
                float: left;
                width: 33%;
                text-align: center;
                position: relative;
                left: -1px;
                border-left: 1px solid #e5dfda;
                flex: 1;
                line-height: 16px;
                .tm-indcon{
                    display: inline-block;
                    margin: 0 auto;
                    line-height: 16px;
                    a{
                        text-decoration: none;
                        .tm-label{
                            display: inline-block;
                            line-height: 16px;
                            height: 16px;
                            color: #999;
                            text-align: center;
                        }
                        .tm-count{
                            display: inline-block;
                            line-height: 16px;
                            height: 16px;
                            color: #280;
                            font-weight: 700;
                            margin-left: 3px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .shul{
            height: 35px;
            line-height: 31px;
            color: #878787;
            font-size: 12px;
            margin-top: 15px;
            .lable{
                margin-left: 10px;
            }
            .ll{
                .tb-text{
                    vertical-align: middle;
                    padding: 3px 2px 0 3px;
                    line-height: 26px;
                    font-size: 12px;
                    // margin: 0;
                    margin-left: 20px;
                    height: 26px;
                    border: 1px solid #a7a6ac;
                    width: 36px;
                    background-position: -406px -41px;
                    color: #666;
                }
                .mouse-btn{
                    display: inline-block;
                    vertical-align: middle;
                    i{
                        font-size: 12px;
                        
                    }
                    .up{
                        text-align: center;
                        margin-bottom: 3px;
                        width: 16px;
                        height: 12px;
                        overflow: hidden;
                        border: 1px solid #a7a6ab;
                        display: block;
                        font-family: tm-detail-font!important;
                        font-size: 16px;
                        cursor: pointer;
                        line-height: 12px;
                    }
                    .down{
                        text-align: center;
                        width: 16px;
                        height: 12px;
                        overflow: hidden;
                        border: 1px solid #a7a6ab;
                        display: block;
                        font-family: tm-detail-font!important;
                        font-size: 16px;
                        cursor: pointer;
                        line-height: 12px;
                    }
                }
                .j{
                    margin-left: 5px;
                }
                .l{
                    margin-left: 20px;
                }
            }

            }
        .addlist{
            // clear: both;
            display: block;
            width: 300px;
            height: 50px;
            padding: 10px 0 0 66px;
            margin: 10px 0 0;
            .tb-btn-basket {
                    margin-right: 1px;
                    // float: left;
                    a{
                        background-color: #ff0036;
                        border: 1px solid #ff0036;
                        color: #fff;
                        margin-right: 0;
                        float: left;
                        // overflow: hidden;
                        position: relative;
                        width: 178px;
                        height: 38px;
                        line-height: 38px;
                        text-align: center;
                        font-size: 16px;
                        text-decoration: none;
                    }
             }
            
        }
        .tm-chaoshi-range{
            margin: 0 20px 0 10px;
            max-width: 410px;
            font-size: 12px;
            .tb-metatit{
                text-align: left;
                // float: left;
                width: 66px;
                color: #999;
            }
            s{
                text-decoration: none;
                color: #865;
            }
        }
        .tm-pay{
            z-index: 6;
            position: relative;
            width: 67px;
            margin-top: 20px;
            margin-left: 350px;
            overflow: visible;
            em{
                position: relative;
                font-size: 12px;
                margin-right: 5px;
                // cursor: pointer;
                z-index: 1;
            }
            i{
                position: relative;
                font-size: 12px;
                z-index: 1;
                font-family: tm-detail-font;
                width: 12px;
                height: 12px;
                cursor: pointer;
            }
            .box1{
                // display: block;
                display: none;
                position: absolute;
                background-color: #fff;
                font-size: 12px;
                width: 170px;
                right: -20px;
                top: 0;
                padding: 2em 1em 1em;
                border: 1px solid #e2e2e4;
                // float: left;
                // width: 100%;
                overflow: hidden;
                // display: none;
                text-align: left;
                a{
                    float: left;
                    position: relative;
                    width: 50%;
                    color: #666;
                    text-indent: 19px;
                    text-decoration: none;
                    s{
                        width: 16px;
                        height: 16px;
                        margin: 2px 0 0;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        font-size: 0;
                        color: #fff;
                        /* height: 16px; */
                        line-height: 16px;
                        /* width: 16px; */
                        text-align: center;
                        /* background-color: #916e6d; */
                        font-style: normal;
                        text-decoration: none;
                        // /* display: inline-block;
                    }
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
          
        
    }

}
.footer {
    border-top: 1px solid #D1D7DC;
    clear: both;
    margin: 0;
    text-align: center;
    background: #fff;
    position: relative;
    #tmall-ensure {
        width: 1190px;
        height: 100px;
        background: url(../img/ensure.jpg) no-repeat;
        margin: 25px auto;
        padding: 0;
        a{
            float: left;
            display: block;
            width: 297px;
            height: 100px;
            text-indent: -1000em;
        }
    }

    .tmall-m {
        // *zoom: 1;
        width: 1190px;
        padding-top: 22px;
        height: 190px;
        margin: auto;
        border-top: 1px solid #ededed;
        background: url(../img/mm.jpg) no-repeat 45px bottom;
        .shopping,
        .ensure,
        .pay,
        .server {
            float: left;
            width: 120px;
            margin-right: 76px;
            p{
                color: #646464;
                font-size: 16px;
                font-weight: 700;
                height: 30px;
                line-height: 30px;
                text-align: left;
                margin-inline-start: 40px;
            }
            a {
                display: block;
                width: 100px;
                overflow: hidden;
                text-align: left;
                height: 20px;
                line-height: 20px;
                color: #8b8b8b;
                text-decoration: none;
                margin-inline-start: 40px;
                font-size: 13px;
                cursor: pointer;
            }
        }

        .mobile {
            float: left;
            width: 186px;
            height: 150px;
            padding-left: 52px;
            p {
                color: #646464;
                font-size: 16px;
                font-weight: 700;
                height: 30px;
                line-height: 30px;
                text-align: left;
                margin-inline-start: 40px;
            }

            a {
                margin-inline-start: 40px;
                line-height: 105px;
                text-align: center;
                text-decoration: none;

            }
        }
    }
    .tmcopy {
        border-top: 2px solid #FF0036;
        background: #000;
        text-align: left;
        min-height: 177px;   
        .wenzi {
            width: 1190px;
            margin: 0 auto;
            .top {
                padding: 5px 0;
                color: #fff; 
                a {
                    line-height: 25px;
                    margin-right: 3px;
                    color: #fff;
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 12px;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
            .second{
                color: #fff;
                line-height: 25px;
                a {
                    line-height: 25px;
                    margin-right: 3px;
                    color: #fff;
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 12px;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
            .third{
                line-height: 20px;
                background: #000;
                color: #a4a4a4;
                a,span,p{
                    line-height: 25px;
                    margin-right: 3px;
                    color: #fff;
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 12px;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
        .tupian{
            // background: #fff;
            width: 146px;
            height: 71px;
            margin: 5px 680px 0;
        }
    }
}