.header {
    width: 1263px;
    height: 27px;
    background-color: #f2f2f2;
    font-size: 12px;
    margin: 0;

    >.header-site {
        width: 990px;
        height: 26px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;

        >.left {
            margin: 0 20px 0 0;

            >.icon-jiating {
                color: red;
            }
        }

        >.right {
            margin: 0 20px 0 0;

        }

        >.menu {
            list-style: none;
            height: 26px;
            line-height: 26px;

            .seperator {
                width: 0;
                height: 14px;
                position: relative;
                top: 6px;
                left: 0;
                line-height: 14px;
                border-left: 1px solid #ccc;
                margin: 0 2px 0 5px;
            }

            .support {
                .menu-top {
                    position: relative;
                    padding: 0 19px 0 12px;

                    b {
                        position: absolute;
                        right: 10px;
                        top: 6px;
                        width: 0;
                        height: 0;
                        border-width: 3px;
                        border-style: solid dashed dashed;
                        border-color: #bbb transparent transparent;
                        font-size: 0;
                        line-height: 0;
                    }
                }

                .menu-bottom {
                    position: absolute;
                    z-index: 10;
                    display: none;
                    right: 165px;

                    .top {
                        padding: 6px 6px;
                        border-bottom: 1px dashed gray;

                        span {
                            display: block;
                            font-style: bold;
                        }

                        a {
                            padding-left: 5px;
                        }

                    }

                    .bottom {
                        padding: 6px 6px;
                        border-bottom: 1px dashed gray;
                        margin-bottom: 10px;

                        span {
                            display: block;
                            font-style: bold;
                        }
                    }
                }
            }

            .support:hover {

                .taobaomenu,
                .menu-top {
                    background-color: #fff;
                }

                .menu-bottom {
                    display: block;
                    background-color: white;
                    padding: 0 18px;
                }

                b {
                    top: 3px;
                    border-style: dashed dashed solid dashed;
                    border-color: transparent transparent #bbb transparent;
                }
            }

            .taobaostar {
                .menu-top {
                    position: relative;
                    padding: 0 19px 0 12px;

                    b {
                        position: absolute;
                        right: 10px;
                        top: 6px;
                        width: 0;
                        height: 0;
                        border-width: 3px;
                        border-style: solid dashed dashed;
                        border-color: #bbb transparent transparent;
                        font-size: 0;
                        line-height: 0;
                    }
                }

                .menu-bottom {
                    position: absolute;
                    display: none;
                    padding: 0 18px;

                    a {
                        display: block;
                    }
                }
            }

            .mytaobao {
                margin: 0 0 0 150px;

                .menu-top {
                    position: relative;
                    padding: 0 19px 0 12px;

                    b {
                        position: absolute;
                        right: 10px;
                        top: 6px;
                        width: 0;
                        height: 0;
                        border-width: 3px;
                        border-style: solid dashed dashed;
                        border-color: #bbb transparent transparent;
                        font-size: 0;
                        line-height: 0;
                    }
                }

                .menu-bottom {
                    position: absolute;
                    display: none;
                    padding: 0 18px;

                    a {
                        display: block;
                    }
                }
            }

            .mytaobao:hover {
                .taobaomenu {
                    background-color: #fff;
                }

                .menu-bottom {
                    display: block;
                    background-color: white;
                }

                b {
                    top: 3px;
                    border-style: dashed dashed solid dashed;
                    border-color: transparent transparent #bbb transparent;
                }
            }

            .taobaostar:hover {
                .taobaomenu {
                    background-color: #fff;
                }

                .menu-bottom {
                    display: block;
                    background-color: white;
                }

                b {
                    top: 3px;
                    border-style: dashed dashed solid dashed;
                    border-color: transparent transparent #bbb transparent;
                }
            }

            li {
                float: left;
                padding: 0 10px;

                a:hover {
                    text-decoration: underline;
                    color: red;
                }
            }
        }
    }

    a {
        text-decoration: none;
        color: #999;
        line-height: 26px;
    }

    a:hover {
        text-decoration: underline;
        color: red;
    }

    .icon-shouji {
        color: red;
    }

    .icon-gouwuche-tianchong {
        color: red;
    }
}
.header-second{
    width: 1084px;
    height: 90px;
    margin: 0 auto;
    .logo{
        width: 234px;
        height: 40px;
        height: auto;
        padding-top: 16px;
        float: left;
        z-index: 9;
        line-height: 40px;
        position: relative;
        a{
            height: 30px;
            font-size: 22px;
            width: 190px;
            overflow: hidden;
            height: auto!important;
            overflow: inherit!important;
            font-size: 0!important;
            padding: 0 0 0 40px;
            margin-top: 10px;
            display: block;
            img{
                width: 234px;
                height: 40px;
            }
        }
    }
    .place{
        float: left;
        position: relative;
        margin-left: 50px;
        top: 25px;
        z-index: 11;
        background-color: #fff;
        margin-top: 36px;
        max-width: 464px;
        border-radius: 0 3px 3px;
        h3{
            color: #ff0036;
            position: relative;
            padding: 6px 12px;
            font-size: 16px;
            border: 1px solid #e5e5e5;
            line-height: 1.5;
            margin-top: -36px;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            cursor: pointer;
            word-wrap: break-word;
            overflow: hidden;
            max-width: 100px;
            margin-left: -1px;
            background-color: #fff;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .search{
        width: 375px;
        height: 36px;
        float: right;
        margin-right: 20px;
        padding-top: 25px;
        overflow: hidden;
        background: #fff;
        position: relative;
        .search-1{          
            height: 30px;
            vertical-align: middle;
            border: solid #ff0036;
            border-width: 3px 0 3px 3px;
            input{
                color: #000;
                font-size: 12px;
                margin: 0;
                z-index: 2;
                width: 289px;
                height: 20px;
                line-height: 20px;
                padding: 5px 3px 5px 5px;
                outline: 0;
                border: none;
                font-weight: 900;
            }          
        }
        button{
            position: absolute;
            right: 0;
            top: 28px;
            width: 90px;
            border: 0;
            font-size: 16px;
            letter-spacing: 4px;
            cursor: pointer;
            color: #fff;
            background-color: #ff0036;
            height: 30px;
            overflow: hidden;
            font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
        }
    }
    .header-banner{
        padding-left: 9px!important;
        padding-top: 21px!important;
        margin-right: 20px;
        width: 272px!important;
        height: auto!important;
        float: right;
        padding: 10px 0 0 100px;
        .market{
            text-align: right;
            margin-right: 5px;
            list-style: none;
            li{
                // display: inline-block;
                margin: 0 4px;
                font-size: 12px;
                vertical-align: middle;
                padding-top: 10px;
                float: left;
                a{
                    color: #666;
                    font-weight: bolder;
                    text-decoration: none;
                    i{
                        font-weight: 400;
                        text-align: right;
                        margin-top: 10px;
                        font-size: 16px;
                        color: #ff0036;
                        text-decoration: none;
                    }
                    img{
                        vertical-align: middle;
                        padding-top: -20px;  
                    }
                }
            }
        }
    }
}
.j_cart{
    width: 990px;
    padding-top: 20px;
    margin: 0 auto;
    .cart-filter-bar{
        overflow: hidden;
        font-size: 12px;
        position: relative;
        .switch-cart{
            // overflow: hidden;
            height: 33px;
            border-bottom: 1px solid rgba(194, 184, 184, 0.918);
            list-style: none;
            .btn-switch-cart {
                float: left;
                font-weight: 700;
                color: #f40;
                font-size: 16px;
                height: 16px;
                line-height: 1.1;
                text-align: center;
                padding: 0 0 15px 0;
                cursor: pointer;
                margin-left: -1px;
                a{
                    padding-left: 15px;
                    text-decoration: none;
                    .number{
                        color: #f40;
                        font-size: 14px;
                        margin: 0 30px 0 5px;
                        font-weight: 400;
                    }
                    em{
                        font-style: normal;
                        font-weight: 400;
                    }
                    .pipe {
                        width: 1px;
                        height: 12px;
                        display: inline-block;
                        background: #e8e8e8;
                    }
                }
            
            }
            li:nth-of-type(1):hover~.floater{
                left: -1px;
            }
            li:nth-of-type(2):hover~.floater{
                left: 122px;
            }
            li:nth-of-type(3):hover~.floater{
                left: 225px;
            }
            .floater{
                width: 123px;
                height:2px;
                left: -1px;
                background-color: #f40;
                position: absolute;
                top: 32px;
                transition: 0.3s ease-in;
                // overflow: hidden;
}

            .current{
                em{
                    color: #f40;
                }
                
            }
           
        }
        .cart-sum{
            position: absolute;
            right: 0;
            top: 0;
            height: 25px;
            line-height: 25px;
            font-size: 12px;
            .price{
                font-family: Arial,Verdana;
                font-weight: 700;
                margin-right: 5px;
                color: #f40;
                em {
                    font-family: Verdana,Arial;
                    padding-left: 2px;
                    font-weight: 700;
                    .total-symbol {
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }
            .submit-btn{
                display: inline-block;
                width: 55px;
                color: #fff;
                background-color: #f40;
                border-radius: 2px;
                text-align: center;
                cursor: pointer;
                text-decoration: none;
            }
        }
       
    }
    .cartmain{
        position: relative;
        .carttable-title{
            height: 50px;
            line-height: 50px;
            color: #3c3c3c;
            .checkbox{
                position: absolute;
                left: 0;
                top: 0;
                font-size: 12px;
                line-height: 12px;
                width: 80px;
                .checkall{
                    width: 13px;
                    height: 13px;
                    cursor: pointer;
                    margin: 12px 0 0 15px;
                    // padding-top: 3px;
                }
            }
            .th{
                float: left;
                font-size: 12px;
            }
            .th-item{
                width: 400px;
                padding-left: 91px;
            }
            .th-price{
                width: 120px;
                padding: 0 0 0 10px;
            }
            .th-amount{
                width: 120px;
                padding: 0 0 0 10px;
            }
            .th-sum{
                width: 120px;
                padding: 0 0 0 10px;
            }
            .th-op{
                width: 80px;
                padding: 0 0 0 10px;
            }
        }
        .shopinfo{
            .checkbox{
                position: relative;
                display: inline-block;
                // float: left;
                width: 156px;
                // width: 15px;
                height: 54px;
                // overflow: hidden;
                .checkall1{
                    width: 13px;
                    height: 13px;
                    cursor: pointer;
                    margin: 12px 0 0 15px;
                }
                img{
                    display: inline-block;
                    vertical-align: middle;
                    margin: -3px 6px 0 0;
                }
                span{
                    font-size:12px;
                    color: #000;
                }
            }
        }
        .cartcontent{
            border: 1px solid #ccc;
            .cart-item{
                background-color: #fcfcfc;
                border-bottom: 1px solid #000;
                .itemcontent{
                    list-style: none;
                    min-height:119px;
                    li{
                        float: left;
                        min-height: 119px;
                    }
                    .td-check{
                        min-height: 89px;
                        width: 45px;
                        .check{
                            padding-top: 20px;
                            height: 82px;
                            .check1{
                                margin: 0 10px 0 0;
                                float: right;
                                width: 13px;
                                height: 13px;
                            }
                        }
                    }
                    .td-item {
                        width: 302px;
                        padding-top: 20px;
                        min-height: 89px;
                        .item-pic {
                            width: 80px;
                            height: 80px;
                            border: 1px solid #eee;
                            float: left;
                            overflow: hidden;
                            a{
                                display: table-cell;
                                width: 80px;
                                height: 80px;
                                vertical-align: middle;
                                text-align: center;
                                img {
                                    max-height: 80px;
                                    max-width: 80px;
                                    vertical-align: middle;
                                }
                            }
                        } 
                        .item-info {
                            margin: -3px 0 0 91px;
                            padding-right: 25px;
                            .item-title{
                                font-size: 12px;
                                display: block;
                                max-height: 32px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                color: #3c3c3c;
                                text-decoration: none;
                            }
                        }                   
                    }
                    .td-price{
                        width: 120px;
                        min-height: 89px;
                        .price{
                            display: block;
                            // padding-top: 12px;
                            padding: 18px 0 0 134px;
                            line-height: 1;
                            width: 74px;
                            .price-now{
                                color: #3c3c3c;
                                font-weight: 700;
                                font-size: 12px;
                                font-family: Verdana,Tahoma,arial;
                            }
                        }
                    }
                    .td-count{
                        width: 120px;
                        min-height: 89px;
                        margin-left: 140px;
                        padding-top: 20px;
                        .item-count{
                            height: 25px;
                            // overflow: hidden;
                            position: relative;
                            z-index: 1;
                            width: 79px;
                            a {
                                display: block;
                                height: 23px;
                                width: 17px;
                                float: left;
                                border: 1px solid #e5e5e5;
                                background-color: #f0f0f0;
                                text-align: center;
                                line-height: 23px;
                                color: #444;
                                // position: absolute;
                                cursor: pointer;
                                // top: 0;
                            }
                            .text-count {
                                width: 39px;
                                height: 15px;
                                line-height: 15px;
                                border: 1px solid #aaa;
                                color: #343434;
                                text-align: center;
                                padding: 4px 0;
                                background-color: #fff;
                                background-position: -75px -375px;
                                // position: absolute;
                                z-index: 2;
                                float: left;
                                // left: 18px;
                                // top: 0;
                            }
                        }
                    }
                    .td-sum{
                        min-height: 89px;
                        color: #f40;
                        font-weight: 700;
                        padding-top: 20px;
                        margin-left: 10px;
                        width: 105px;
                        em{
                            font-style: normal;
                            font-weight: 400;
                        }
                    }
                    .td-op{
                        min-height: 89px;
                        width: 84px;
                        padding: 20px 0 0 15px;
                        margin-left: 20px;
                        a{
                            padding-bottom: 3px;
                            color: #3c3c3c;
                            text-decoration: none;
                            font-size: 12px;
                            cursor: pointer;
                        }
                        a:hover {
                            color: #f40;
                            text-decoration:underline;
                        }
                    }
                }
            }
            .cart-item:last-of-type{
                border: none;
            }
        }
        .footerbar{
            height: 50px;
            overflow: hidden;
            background: #e5e5e5;
            margin-top: 30px;
            position: relative;
            .checkbox{
                float: left;
                position: relative;
                width: 50px;
                height: 50px;
                line-height: 50px;
                padding-left: 5px;
                cursor: pointer;
                .checkall3{
                    position: absolute;
                    display: block;
                    z-index: 1;
                    // float: left;
                    // padding-top: 10px;
                    top: 20px;
                    width: 13px;
                    height: 13px;
                    background-position: 0 0;
                    line-height: 200em;
                    // overflow: hidden;
                    cursor: pointer;
                    
                }
                span{
                    font-size: 12px;
                    padding-left: 20px;
                }
            }
            .opera{
                float: left;
                line-height: 50px;
                height: 50px;
                a{
                    margin-left: 25px;
                    float: left;
                    color: #3c3c3c;
                    font-size: 12px;
                    text-decoration: none;
                }
                a:hover{
                    color:rgb(231, 90, 8);
                    text-decoration: underline;
                }
            }
            .rightbar{
                float: right;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 4;
                padding-left: 20px;
                .selectitem{
                    cursor: pointer;
                    height: 48px;
                    color: #3c3c3c;
                    float: left;
                    .txt{
                        line-height: 48px;
                        font-size: 12px;
                    }
                    em{
                        color: #f40;
                        font-weight: 700;
                        font-size: 18px;
                        font-family: tohoma,arial;
                        font-style: normal;
                    }
                }
                .price-sum {
                    height: 48px;
                    color: #3c3c3c;
                    float: left;
                    .txt {
                        line-height: 48px;
                        font-size: 12px;
                    }
                    .price {
                        color: #f40;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 48px;
                        font-family: Arial;
                        vertical-align: middle;
                        em {
                            font-weight: 700;
                            font-size: 22px;
                            padding: 0 3px;
                            span{
                                font-size: 14px;
                                font-family: verdana;
                            }
                        }
                    }
                }
                .btn-area{
                    float: left;
                    .submit-btn {
                        display: inline-block;
                        width: 120px;
                        height: 50px;
                        line-height: 50px;
                        background: #f40;
                        text-align: center;
                        font-family: 'Lantinghei SC','Microsoft Yahei';
                        font-size: 20px;
                        -webkit-border-radius: 2px;
                        -moz-border-radius: 2px;
                        -ms-border-radius: 2px;
                        border-radius: 2px;
                        text-decoration: none;
                        cursor: pointer;
                        span{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
