.header {
  width: 1263px;
  height: 27px;
  background-color: #f2f2f2;
  font-size: 12px;
  margin: 0;
}
.header > .header-site {
  width: 990px;
  height: 26px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}
.header > .header-site > .left {
  margin: 0 20px 0 0;
}
.header > .header-site > .left > .icon-jiating {
  color: red;
}
.header > .header-site > .right {
  margin: 0 20px 0 0;
}
.header > .header-site > .menu {
  list-style: none;
  height: 26px;
  line-height: 26px;
}
.header > .header-site > .menu .seperator {
  width: 0;
  height: 14px;
  position: relative;
  top: 6px;
  left: 0;
  line-height: 14px;
  border-left: 1px solid #ccc;
  margin: 0 2px 0 5px;
}
.header > .header-site > .menu .support .menu-top {
  position: relative;
  padding: 0 19px 0 12px;
}
.header > .header-site > .menu .support .menu-top b {
  position: absolute;
  right: 10px;
  top: 6px;
  width: 0;
  height: 0;
  border-width: 3px;
  border-style: solid dashed dashed;
  border-color: #bbb transparent transparent;
  font-size: 0;
  line-height: 0;
}
.header > .header-site > .menu .support .menu-bottom {
  position: absolute;
  z-index: 10;
  display: none;
  right: 165px;
}
.header > .header-site > .menu .support .menu-bottom .top {
  padding: 6px 6px;
  border-bottom: 1px dashed gray;
}
.header > .header-site > .menu .support .menu-bottom .top span {
  display: block;
  font-style: bold;
}
.header > .header-site > .menu .support .menu-bottom .top a {
  padding-left: 5px;
}
.header > .header-site > .menu .support .menu-bottom .bottom {
  padding: 6px 6px;
  border-bottom: 1px dashed gray;
  margin-bottom: 10px;
}
.header > .header-site > .menu .support .menu-bottom .bottom span {
  display: block;
  font-style: bold;
}
.header > .header-site > .menu .support:hover .taobaomenu,
.header > .header-site > .menu .support:hover .menu-top {
  background-color: #fff;
}
.header > .header-site > .menu .support:hover .menu-bottom {
  display: block;
  background-color: white;
  padding: 0 18px;
}
.header > .header-site > .menu .support:hover b {
  top: 3px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #bbb transparent;
}
.header > .header-site > .menu .taobaostar .menu-top {
  position: relative;
  padding: 0 19px 0 12px;
}
.header > .header-site > .menu .taobaostar .menu-top b {
  position: absolute;
  right: 10px;
  top: 6px;
  width: 0;
  height: 0;
  border-width: 3px;
  border-style: solid dashed dashed;
  border-color: #bbb transparent transparent;
  font-size: 0;
  line-height: 0;
}
.header > .header-site > .menu .taobaostar .menu-bottom {
  position: absolute;
  display: none;
  padding: 0 18px;
}
.header > .header-site > .menu .taobaostar .menu-bottom a {
  display: block;
}
.header > .header-site > .menu .mytaobao {
  margin: 0 0 0 150px;
}
.header > .header-site > .menu .mytaobao .menu-top {
  position: relative;
  padding: 0 19px 0 12px;
}
.header > .header-site > .menu .mytaobao .menu-top b {
  position: absolute;
  right: 10px;
  top: 6px;
  width: 0;
  height: 0;
  border-width: 3px;
  border-style: solid dashed dashed;
  border-color: #bbb transparent transparent;
  font-size: 0;
  line-height: 0;
}
.header > .header-site > .menu .mytaobao .menu-bottom {
  position: absolute;
  display: none;
  padding: 0 18px;
}
.header > .header-site > .menu .mytaobao .menu-bottom a {
  display: block;
}
.header > .header-site > .menu .mytaobao:hover .taobaomenu {
  background-color: #fff;
}
.header > .header-site > .menu .mytaobao:hover .menu-bottom {
  display: block;
  background-color: white;
}
.header > .header-site > .menu .mytaobao:hover b {
  top: 3px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #bbb transparent;
}
.header > .header-site > .menu .taobaostar:hover .taobaomenu {
  background-color: #fff;
}
.header > .header-site > .menu .taobaostar:hover .menu-bottom {
  display: block;
  background-color: white;
}
.header > .header-site > .menu .taobaostar:hover b {
  top: 3px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #bbb transparent;
}
.header > .header-site > .menu li {
  float: left;
  padding: 0 10px;
}
.header > .header-site > .menu li a:hover {
  text-decoration: underline;
  color: red;
}
.header a {
  text-decoration: none;
  color: #999;
  line-height: 26px;
}
.header a:hover {
  text-decoration: underline;
  color: red;
}
.header .icon-shouji {
  color: red;
}
.header .icon-gouwuche-tianchong {
  color: red;
}
.header-second {
  width: 1084px;
  height: 90px;
  margin: 0 auto;
}
.header-second .logo {
  width: 234px;
  height: 40px;
  height: auto;
  padding-top: 16px;
  float: left;
  z-index: 9;
  line-height: 40px;
  position: relative;
}
.header-second .logo a {
  height: 30px;
  font-size: 22px;
  width: 190px;
  overflow: hidden;
  height: auto!important;
  overflow: inherit!important;
  font-size: 0!important;
  padding: 0 0 0 40px;
  margin-top: 10px;
  display: block;
}
.header-second .logo a img {
  width: 234px;
  height: 40px;
}
.header-second .place {
  float: left;
  position: relative;
  margin-left: 50px;
  top: 25px;
  z-index: 11;
  background-color: #fff;
  margin-top: 36px;
  max-width: 464px;
  border-radius: 0 3px 3px;
}
.header-second .place h3 {
  color: #ff0036;
  position: relative;
  padding: 6px 12px;
  font-size: 16px;
  border: 1px solid #e5e5e5;
  line-height: 1.5;
  margin-top: -36px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  cursor: pointer;
  word-wrap: break-word;
  overflow: hidden;
  max-width: 100px;
  margin-left: -1px;
  background-color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.header-second .search {
  width: 375px;
  height: 36px;
  float: right;
  margin-right: 20px;
  padding-top: 25px;
  overflow: hidden;
  background: #fff;
  position: relative;
}
.header-second .search .search-1 {
  height: 30px;
  vertical-align: middle;
  border: solid #ff0036;
  border-width: 3px 0 3px 3px;
}
.header-second .search .search-1 input {
  color: #000;
  font-size: 12px;
  margin: 0;
  z-index: 2;
  width: 289px;
  height: 20px;
  line-height: 20px;
  padding: 5px 3px 5px 5px;
  outline: 0;
  border: none;
  font-weight: 900;
}
.header-second .search button {
  position: absolute;
  right: 0;
  top: 28px;
  width: 90px;
  border: 0;
  font-size: 16px;
  letter-spacing: 4px;
  cursor: pointer;
  color: #fff;
  background-color: #ff0036;
  height: 30px;
  overflow: hidden;
  font-family: '\5FAE\8F6F\96C5\9ED1', arial, "\5b8b\4f53";
}
.header-second .header-banner {
  padding-left: 9px!important;
  padding-top: 21px!important;
  margin-right: 20px;
  width: 272px!important;
  height: auto!important;
  float: right;
  padding: 10px 0 0 100px;
}
.header-second .header-banner .market {
  text-align: right;
  margin-right: 5px;
  list-style: none;
}
.header-second .header-banner .market li {
  margin: 0 4px;
  font-size: 12px;
  vertical-align: middle;
  padding-top: 10px;
  float: left;
}
.header-second .header-banner .market li a {
  color: #666;
  font-weight: bolder;
  text-decoration: none;
}
.header-second .header-banner .market li a i {
  font-weight: 400;
  text-align: right;
  margin-top: 10px;
  font-size: 16px;
  color: #ff0036;
  text-decoration: none;
}
.header-second .header-banner .market li a img {
  vertical-align: middle;
  padding-top: -20px;
}
.j_cart {
  width: 990px;
  padding-top: 20px;
  margin: 0 auto;
}
.j_cart .cart-filter-bar {
  overflow: hidden;
  font-size: 12px;
  position: relative;
}
.j_cart .cart-filter-bar .switch-cart {
  height: 33px;
  border-bottom: 1px solid rgba(194, 184, 184, 0.918);
  list-style: none;
}
.j_cart .cart-filter-bar .switch-cart .btn-switch-cart {
  float: left;
  font-weight: 700;
  color: #f40;
  font-size: 16px;
  height: 16px;
  line-height: 1.1;
  text-align: center;
  padding: 0 0 15px 0;
  cursor: pointer;
  margin-left: -1px;
}
.j_cart .cart-filter-bar .switch-cart .btn-switch-cart a {
  padding-left: 15px;
  text-decoration: none;
}
.j_cart .cart-filter-bar .switch-cart .btn-switch-cart a .number {
  color: #f40;
  font-size: 14px;
  margin: 0 30px 0 5px;
  font-weight: 400;
}
.j_cart .cart-filter-bar .switch-cart .btn-switch-cart a em {
  font-style: normal;
  font-weight: 400;
}
.j_cart .cart-filter-bar .switch-cart .btn-switch-cart a .pipe {
  width: 1px;
  height: 12px;
  display: inline-block;
  background: #e8e8e8;
}
.j_cart .cart-filter-bar .switch-cart li:nth-of-type(1):hover ~ .floater {
  left: -1px;
}
.j_cart .cart-filter-bar .switch-cart li:nth-of-type(2):hover ~ .floater {
  left: 122px;
}
.j_cart .cart-filter-bar .switch-cart li:nth-of-type(3):hover ~ .floater {
  left: 225px;
}
.j_cart .cart-filter-bar .switch-cart .floater {
  width: 123px;
  height: 2px;
  left: -1px;
  background-color: #f40;
  position: absolute;
  top: 32px;
  transition: 0.3s ease-in;
}
.j_cart .cart-filter-bar .switch-cart .current em {
  color: #f40;
}
.j_cart .cart-filter-bar .cart-sum {
  position: absolute;
  right: 0;
  top: 0;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
}
.j_cart .cart-filter-bar .cart-sum .price {
  font-family: Arial,Verdana;
  font-weight: 700;
  margin-right: 5px;
  color: #f40;
}
.j_cart .cart-filter-bar .cart-sum .price em {
  font-family: Verdana,Arial;
  padding-left: 2px;
  font-weight: 700;
}
.j_cart .cart-filter-bar .cart-sum .price em .total-symbol {
  font-size: 12px;
  font-weight: 400;
}
.j_cart .cart-filter-bar .cart-sum .submit-btn {
  display: inline-block;
  width: 55px;
  color: #fff;
  background-color: #f40;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.j_cart .cartmain {
  position: relative;
}
.j_cart .cartmain .carttable-title {
  height: 50px;
  line-height: 50px;
  color: #3c3c3c;
}
.j_cart .cartmain .carttable-title .checkbox {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
  line-height: 12px;
  width: 80px;
}
.j_cart .cartmain .carttable-title .checkbox .checkall {
  width: 13px;
  height: 13px;
  cursor: pointer;
  margin: 12px 0 0 15px;
}
.j_cart .cartmain .carttable-title .th {
  float: left;
  font-size: 12px;
}
.j_cart .cartmain .carttable-title .th-item {
  width: 400px;
  padding-left: 91px;
}
.j_cart .cartmain .carttable-title .th-price {
  width: 120px;
  padding: 0 0 0 10px;
}
.j_cart .cartmain .carttable-title .th-amount {
  width: 120px;
  padding: 0 0 0 10px;
}
.j_cart .cartmain .carttable-title .th-sum {
  width: 120px;
  padding: 0 0 0 10px;
}
.j_cart .cartmain .carttable-title .th-op {
  width: 80px;
  padding: 0 0 0 10px;
}
.j_cart .cartmain .shopinfo .checkbox {
  position: relative;
  display: inline-block;
  width: 156px;
  height: 54px;
}
.j_cart .cartmain .shopinfo .checkbox .checkall1 {
  width: 13px;
  height: 13px;
  cursor: pointer;
  margin: 12px 0 0 15px;
}
.j_cart .cartmain .shopinfo .checkbox img {
  display: inline-block;
  vertical-align: middle;
  margin: -3px 6px 0 0;
}
.j_cart .cartmain .shopinfo .checkbox span {
  font-size: 12px;
  color: #000;
}
.j_cart .cartmain .cartcontent {
  border: 1px solid #ccc;
}
.j_cart .cartmain .cartcontent .cart-item {
  background-color: #fcfcfc;
  border-bottom: 1px solid #000;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent {
  list-style: none;
  min-height: 119px;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent li {
  float: left;
  min-height: 119px;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-check {
  min-height: 89px;
  width: 45px;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-check .check {
  padding-top: 20px;
  height: 82px;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-check .check .check1 {
  margin: 0 10px 0 0;
  float: right;
  width: 13px;
  height: 13px;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-item {
  width: 302px;
  padding-top: 20px;
  min-height: 89px;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-item .item-pic {
  width: 80px;
  height: 80px;
  border: 1px solid #eee;
  float: left;
  overflow: hidden;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-item .item-pic a {
  display: table-cell;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  text-align: center;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-item .item-pic a img {
  max-height: 80px;
  max-width: 80px;
  vertical-align: middle;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-item .item-info {
  margin: -3px 0 0 91px;
  padding-right: 25px;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-item .item-info .item-title {
  font-size: 12px;
  display: block;
  max-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3c3c3c;
  text-decoration: none;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-price {
  width: 120px;
  min-height: 89px;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-price .price {
  display: block;
  padding: 18px 0 0 134px;
  line-height: 1;
  width: 74px;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-price .price .price-now {
  color: #3c3c3c;
  font-weight: 700;
  font-size: 12px;
  font-family: Verdana,Tahoma,arial;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-count {
  width: 120px;
  min-height: 89px;
  margin-left: 140px;
  padding-top: 20px;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-count .item-count {
  height: 25px;
  position: relative;
  z-index: 1;
  width: 79px;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-count .item-count a {
  display: block;
  height: 23px;
  width: 17px;
  float: left;
  border: 1px solid #e5e5e5;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 23px;
  color: #444;
  cursor: pointer;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-count .item-count .text-count {
  width: 39px;
  height: 15px;
  line-height: 15px;
  border: 1px solid #aaa;
  color: #343434;
  text-align: center;
  padding: 4px 0;
  background-color: #fff;
  background-position: -75px -375px;
  z-index: 2;
  float: left;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-sum {
  min-height: 89px;
  color: #f40;
  font-weight: 700;
  padding-top: 20px;
  margin-left: 10px;
  width: 105px;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-sum em {
  font-style: normal;
  font-weight: 400;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-op {
  min-height: 89px;
  width: 84px;
  padding: 20px 0 0 15px;
  margin-left: 20px;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-op a {
  padding-bottom: 3px;
  color: #3c3c3c;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}
.j_cart .cartmain .cartcontent .cart-item .itemcontent .td-op a:hover {
  color: #f40;
  text-decoration: underline;
}
.j_cart .cartmain .cartcontent .cart-item:last-of-type {
  border: none;
}
.j_cart .cartmain .footerbar {
  height: 50px;
  overflow: hidden;
  background: #e5e5e5;
  margin-top: 30px;
  position: relative;
}
.j_cart .cartmain .footerbar .checkbox {
  float: left;
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding-left: 5px;
  cursor: pointer;
}
.j_cart .cartmain .footerbar .checkbox .checkall3 {
  position: absolute;
  display: block;
  z-index: 1;
  top: 20px;
  width: 13px;
  height: 13px;
  background-position: 0 0;
  line-height: 200em;
  cursor: pointer;
}
.j_cart .cartmain .footerbar .checkbox span {
  font-size: 12px;
  padding-left: 20px;
}
.j_cart .cartmain .footerbar .opera {
  float: left;
  line-height: 50px;
  height: 50px;
}
.j_cart .cartmain .footerbar .opera a {
  margin-left: 25px;
  float: left;
  color: #3c3c3c;
  font-size: 12px;
  text-decoration: none;
}
.j_cart .cartmain .footerbar .opera a:hover {
  color: #e75a08;
  text-decoration: underline;
}
.j_cart .cartmain .footerbar .rightbar {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  padding-left: 20px;
}
.j_cart .cartmain .footerbar .rightbar .selectitem {
  cursor: pointer;
  height: 48px;
  color: #3c3c3c;
  float: left;
}
.j_cart .cartmain .footerbar .rightbar .selectitem .txt {
  line-height: 48px;
  font-size: 12px;
}
.j_cart .cartmain .footerbar .rightbar .selectitem em {
  color: #f40;
  font-weight: 700;
  font-size: 18px;
  font-family: tohoma,arial;
  font-style: normal;
}
.j_cart .cartmain .footerbar .rightbar .price-sum {
  height: 48px;
  color: #3c3c3c;
  float: left;
}
.j_cart .cartmain .footerbar .rightbar .price-sum .txt {
  line-height: 48px;
  font-size: 12px;
}
.j_cart .cartmain .footerbar .rightbar .price-sum .price {
  color: #f40;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  font-family: Arial;
  vertical-align: middle;
}
.j_cart .cartmain .footerbar .rightbar .price-sum .price em {
  font-weight: 700;
  font-size: 22px;
  padding: 0 3px;
}
.j_cart .cartmain .footerbar .rightbar .price-sum .price em span {
  font-size: 14px;
  font-family: verdana;
}
.j_cart .cartmain .footerbar .rightbar .btn-area {
  float: left;
}
.j_cart .cartmain .footerbar .rightbar .btn-area .submit-btn {
  display: inline-block;
  width: 120px;
  height: 50px;
  line-height: 50px;
  background: #f40;
  text-align: center;
  font-family: 'Lantinghei SC', 'Microsoft Yahei';
  font-size: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
}
.j_cart .cartmain .footerbar .rightbar .btn-area .submit-btn span {
  color: #fff;
}
